body{
    background-image: url(../images/bg-dev.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.card{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #FF3AA4;
    border-radius: 12px;
    overflow: hidden;
}

.card .infos{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card .infos img{
    border-radius: 50px;
    border: 4px solid #4CDCFF;
}

.card .infos .name{
    font-size: 26px;
}

.card .infos .position{
    font-size: 20px;
    color: #b8bbc5;
}

.card .content{
    margin-top: 15px;
}

.card .tabs{
    display: flex;
}

.card .tabs .tab{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.card .tabs img{
    width: 25px;
}

.card .tabs .tab.selected{
    background-color: #262626;
}

.card .tabs-infos {
    background-color: #262626;
}

.card .tabs .tab:hover{
  background-color: #414141;  
}

.tabs-infos .info{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.tabs-infos .info.selected {
    display: block;
}


.tabs-infos .sub-title{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.tabs-infos .description{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 10px;
}

.tabs-infos .description span{
    color: #308DFF;
}

.social-media{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    max-height: 250px;
    overflow-y: auto;
}

.social-media li img{
    width: 40px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;

}

.social-media li img:hover{
    opacity: 0.8;
}